<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "range.pageTitle" | translate }}</h3>
    </div>
    <div class="panel-body ">
        <div class="table-responsive">
            <table class="table table-striped">            
                <thead>
                    <tr>
                        <th>{{ "range.unit" | translate }}</th>
                        <th>{{ "range.lowerLimit" | translate }}</th>
                        <th>{{ "range.upperLimit" | translate }}</th>
                        <th>{{ "range.normalRange" | translate }}</th>
                        <th>{{ "range.color" | translate }}</th>
                        <th></th>
                    </tr>
                </thead>            
                <tbody>
                    <tr>
                        <td>
                            <select class="form-control" data-ng-model="vm.newRange.unit" data-ng-change="vm.changeUnit(vm.newRange.unit, '{{vm.newRange.unit.objectId}}')" data-ng-options="unit.name for unit in vm.units track by unit.objectId"></select>
                        </td>
                        <td>
                            <input class="form-control" type="number" step="any" min="0" required data-ng-model="vm.newRange.lowerLimit">
                        </td>
                        <td>
                            <input class="form-control" type="number" step="any" min="0" required data-ng-model="vm.newRange.upperLimit">
                        </td>
                        <td>
                            <input class="form-control" type="checkbox" ng-model="vm.newRange.normal">
                        </td>
                        <td>                    
                            <spectrum-colorpicker ng-model="vm.newRange.color" options="vm.colorPickerOptions"></spectrum-colorpicker>                    
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-disabled="vm.loadingState.pending > 0" ng-click="vm.saveRange(vm.newRange)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{{ "range.add" | translate }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="alert alert-danger"  ng-show="errorMessage">                            
                <strong>{{ "range.error" | translate }}!</strong> {{errorMessage}}
            </div>
            <div class="alert alert-success"  ng-show="successMessage">                            
                <strong>{{ "range.success" | translate }}!</strong> {{successMessage}}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ "range.unit" | translate }}</th>
                        <th>{{ "range.lowerLimit" | translate }}</th>
                        <th>{{ "range.upperLimit" | translate }}</th>
                        <th>{{ "range.normalRange" | translate }}</th>
                        <th>{{ "range.color" | translate }}</th>
                        <th></th>
                        <th></th>
                    </tr>                
                </thead>
                <tbody ng-if="vm.ranges.length > 0">
                    <tr ng-repeat="range in vm.ranges| orderBy:vm.getLowerLimit">
                        <td>
                            <div ng-show="!range.isEdit">{{range.unit.name}}</div>
                            <select ng-show="range.isEdit" class="form-control" ng-change="vm.rangeUnitChange(range, '{{range.unit.objectId}}')" ng-model="range.unit" ng-options="unit.name for unit in vm.units track by unit.objectId"></select>                    
                        </td>
                        <td>
                            <div ng-show="!range.isEdit">{{range.lowerLimit}}</div>
                            <input class="form-control" ng-show="range.isEdit" step="any" type="number" min="0" required class="input-sm" data-ng-model="range.lowerLimit">
                        </td>
                        <td>
                            <div ng-show="!range.isEdit">{{range.upperLimit}}</div>
                            <input class="form-control" ng-show="range.isEdit" step="any" type="number" min="0" required class="input-sm" data-ng-model="range.upperLimit">
                        </td>
                        <td>
                            <input class="form-control" ng-model="range.normal" ng-disabled="!range.isEdit" type="checkbox">
                        </td>
                        <td ng-show="!range.isEdit" ng-style="{'background-color': range.color}">
                        </td>
                        <td ng-show="range.isEdit">                
                <spectrum-colorpicker ng-model="range.color" options="{showPalette: true, preferredFormat: 'hex'}"></spectrum-colorpicker>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-disabled="vm.loadingState.pending > 0" ng-click="vm.deleteRange(range)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;{{ "range.delete" | translate }}
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="vm.loadingState.pending > 0" ng-show="!range.isEdit" ng-click="vm.editRange(range)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;{{ "range.edit" | translate }}
                    </button>
                    <button type="button" class="btn btn-success" ng-disabled="vm.loadingState.pending > 0" ng-show="range.isEdit" ng-click="vm.updateRange(range)">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;{{ "range.update" | translate }}
                    </button>
                    <button type="button" class="btn btn-danger" ng-disabled="vm.loadingState.pending > 0" ng-show="range.isEdit" ng-click="vm.cancelEditRange(range)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;{{ "range.cancel" | translate }}
                    </button>
                </td>
                </tr>
                </tbody>
                <tbody ng-if="vm.ranges.length === 0">
                    <tr>
                        <td colspan="7" class="text-center">
                            <span>{{"noData" | translate}}</span>
                        </td> 
                    </tr>
                </tbody>


            </table>
        </div>

    </div>

</div>