<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'range.pageTitle' | translate }}</h3>
    </div>
    <div class="panel-body ">

    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <th>{{ 'range.unit' | translate }}</th>
            <th>{{ 'range.lowerLimit' | translate }}</th>
            <th>{{ 'range.upperLimit' | translate }}</th>
            <th>{{ 'range.normalRange' | translate }}</th>
            <th>{{ 'range.color' | translate }}</th>
            <th></th>
            <tr>
                <td>
                    <select data-ng-model="vm.newRange.unit" data-ng-change="vm.changeUnit(vm.newRange.unit, '{{vm.newRange.unit.objectId}}')" data-ng-options="unit.name for unit in vm.units track by unit.objectId"></select>
                </td>
                <td>
                    <input type="number" step="any" min="0" required data-ng-model="vm.newRange.lowerLimit">
                </td>
                <td>
                    <input type="number" step="any" min="0" required data-ng-model="vm.newRange.upperLimit">
                </td>
                <td>
                    <input ng-model="vm.newRange.normal" type="checkbox">
                </td>
                <td>
            <spectrum-colorpicker ng-model="vm.newRange.color" options="{showPalette: true, preferredFormat: 'hex', chooseText:'{{'range.selectColor' | translate}}', cancelText:'{{'range.cancelColor' | translate}}'}"></spectrum-colorpicker>
            </td>
            <td>
                <button type="button" class="btn" ng-disabled="pending > 0" ng-click="vm.saveRange(vm.newRange)">{{ 'range.add' | translate }}</button>
            </td>
            </tr>
        </table>
    </div>

    <div>
        <div class="alert alert-danger"  ng-show="errorMessage">                            
            <strong>{{ 'range.error' | translate }}!</strong> {{errorMessage}}
        </div>
        <div class="alert alert-success"  ng-show="successMessage">                            
            <strong>{{ 'range.success' | translate }}!</strong> {{successMessage}}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <th>{{ 'range.unit' | translate }}</th>
            <th>{{ 'range.lowerLimit' | translate }}</th>
            <th>{{ 'range.upperLimit' | translate }}</th>
            <th>{{ 'range.normalRange' | translate }}</th>
            <th>{{ 'range.color' | translate }}</th>
            <th></th>
            <tr ng-repeat="range in vm.ranges| orderBy:vm.getLowerLimit">
                <td>
                    <div ng-show="!range.isEdit">{{range.unit.name}}</div>
                    <select ng-controller="rangeUnitSelectController as vm" ng-show="range.isEdit" class="blood-glucose-select blood-glucose-input-field input-lg form-inline" data-ng-model="range.unit" data-ng-options="unit.name for unit in vm.units track by unit.objectId"></select>
                </td>
                <td>
                    <div ng-show="!range.isEdit">{{range.lowerLimit}}</div>
                    <input ng-show="range.isEdit" step="any" type="number" min="0" required class="input-sm" data-ng-model="range.lowerLimit">
                </td>
                <td>
                    <div ng-show="!range.isEdit">{{range.upperLimit}}</div>
                    <input ng-show="range.isEdit" step="any" type="number" min="0" required class="input-sm" data-ng-model="range.upperLimit">
                </td>
                <td>
                    <input ng-model="range.normal" ng-disabled="!range.isEdit" type="checkbox">
                </td>                    
                <!--style="background-color: {{range.color}}" -->

                <td ng-show="!range.isEdit" ng-style="{'background-color': range.color}">
                </td>
                <td ng-show="range.isEdit">    
            <spectrum-colorpicker ng-model="range.color" options="{showPalette: true, preferredFormat: 'hex'}"></spectrum-colorpicker>
            </td>
            <td>
                <button type="button" class="btn" ng-disabled="pending > 0" ng-click="vm.deleteRange(range)">{{ 'range.delete' | translate }}</button>
                <button type="button" class="btn" ng-disabled="pending > 0" ng-show="!range.isEdit" ng-click="vm.editRange(range)">{{ 'range.edit' | translate }}</button>
                <button type="button" class="btn" ng-disabled="pending > 0" ng-show="range.isEdit" ng-click="vm.updateRange(range)">{{ 'range.update' | translate }}</button>
                <button type="button" class="btn" ng-disabled="pending > 0" ng-show="range.isEdit" ng-click="vm.cancelEditRange(range)">{{ 'range.cancel' | translate }}</button>                            
            </td>
            </tr>
        </table>
    </div>



</div>