
<div class="panel panel-primary content-panel">

    <div class="panel-heading">

        <button ng-show="vm.windowMode === 'MODAL'" ng-click="$dismiss()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <div ng-switch="vm.eventCode">
            <h3 ng-switch-when="0" class="panel-title"><span class="glyphicon glyphicon-tag"></span> {{ "event.otherTitle" | translate }}</h3>
            <h3 ng-switch-when="1" class="panel-title"><span class="glyphicon glyphicon-tint"></span> {{ "event.bgTitle" | translate }}</h3>
            <h3 ng-switch-when="2" class="panel-title"><span class="glyphicon glyphicon-briefcase"></span> {{ "event.medicationTitle" | translate }}</h3>
            <h3 ng-switch-when="3" class="panel-title"><span class="glyphicon glyphicon-dashboard"></span> {{ "event.weightTitle" | translate }}</h3>
            <h3 ng-switch-when="4" class="panel-title"><span class="glyphicon glyphicon-heart"></span> {{ "event.bloodPressureTitle" | translate }}</h3>
            <h3 ng-switch-when="5" class="panel-title"><span class="glyphicon glyphicon-file"></span> {{ "event.a1cTitle" | translate }}</h3>
            <h3 ng-switch-when="6" class="panel-title"><span class="glyphicon glyphicon-flash"></span> {{ "event.exerciseTitle" | translate }}</h3>
            <h3 ng-switch-when="7" class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> {{ "event.foodIntakeTitle" | translate }}</h3>
        </div>
    </div>
    <div class="panel-body ">
        <div ng-form novalidate name="eventForm" class="event-form">
            
            
            <!--  || $parent.opened -->
            
            <div class="input-group">                
                <input type="text" 
                       class="form-control" 
                       datepicker-popup="dd/MM/yyyy" 
                       is-open="vm.opened"
                       ng-model="vm.date"
                       ng-required="true"                       
                       close-text="{{ 'event.closeDatePicker' | translate }}"
                       clear-text="{{ 'event.clearDatePicker' | translate }}"
                       toggle-weeks-text="{{ 'event.weeksDatePicker' | translate }}"
                       current-text="{{ 'event.currentDatePicker' | translate }}"   />

                <span class="input-group-btn">                    
                    <button class="btn btn-default" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>


            <div class="input-group">               
                <div ng-model="vm.date" ng-required="true">
                    <timepicker show-meridian="false"></timepicker>
                </div>
            </div>

            <div ng-switch="vm.eventCode" class="form-inline">
                <!-- Nothing to display when event of type "other" -->
                <div ng-switch-when="0"></div>
                <div ng-switch-when="4"></div>
                <div ng-switch-default class="form-group">                        
                    <input type="number" min="0" step="any" required  class="input-lg" placeholder="{{vm.placeholder}}" ng-model="vm.event.reading" ng-disabled="!vm.event.unit"/>
                    <select class="input-lg" ng-change="vm.changeUnit(vm.event.unit, '{{vm.event.unit.objectId}}')" data-ng-model="vm.event.unit" data-ng-options="unit.name for unit in vm.units track by unit.objectId"></select>
                </div>               
            </div>

            <!-- Display diastolic and systolic for blood pressure  -->
            <div class="form-group">
                <div class="form-inline" ng-switch="vm.eventCode">
                    <div ng-switch-when="4">
                        <div class="form-group">
                            <label class="sr-only" for="systolic">Systolic</label>
                            <input id="systolic" type="number" min="0" step="any" required  class="input-lg" placeholder="{{vm.placeholder}}" ng-model="vm.event.reading" ng-disabled="!event.unit"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="diastolic">Diastolic</label>
                            <input id="diastolic" type="number" min="0" step="any" required  class="input-lg" placeholder="{{vm.placeholder}}" ng-model="vm.event.diastolic" ng-disabled="!event.unit"/>
                        </div>
                        <div class="form-group">
                            <select class="input-lg" ng-change="vm.changeUnit(vm.event.unit, '{{vm.event.unit.objectId}}')" data-ng-model="vm.event.unit" data-ng-options="unit.name for unit in vm.units track by unit.objectId"></select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group" ng-switch="vm.eventCode">
                <div ng-switch-when="1" class="btn-group">
                    <button type="button" class="btn btn-primary" data-ng-model="vm.event.preMeal" btn-checkbox>{{ 'event.bgBeforeMeal' | translate }}</button>
                    <button type="button" class="btn btn-primary" data-ng-model="vm.event.postMeal" btn-checkbox>{{ 'event.bgAfterMeal' | translate }}</button>                
                </div>
            </div>

            <div class="form-group">
                <label for="category">{{ "event.category" | translate }}</label>
                <select id="category" class="input-medium" data-ng-model="vm.event.category" data-ng-options="category.name for category in vm.categories track by category.objectId">
                    <option value="">{{"event.selectCategory" | translate}}</option>
                </select>
            </div>


            <div class="form-group">
                <label for="comment">{{ "event.comment" | translate }}</label>
                <textarea id="comment" class="form-control" ng-model="vm.event.comment"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-danger btn-lg active pull-left" ng-show="vm.isEdit" ng-click="vm.deleteEvent()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;{{ "event.delete" | translate }}
                </button>
                <button class="btn btn-primary btn-lg active pull-right" ng-disabled="((eventForm.$dirty && eventForm.$invalid) || eventForm.$pristine) || vm.loadingState.pending > 0" ng-click="vm.updateEvent(vm.event)">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;{{ 'event.save' | translate }}
                </button>
            </div>

        </div>
    </div>
</div>
