<div class="modal-header">
    <h3>{{ 'chooseEvent.pageTitle' | translate }}</h3>
</div>
<div class="modal-body">

    <div class="btn-group" ng-repeat="(key, value) in eventsTypes track by $index">            
        <label class="btn btn-success" ng-model="code" ng-click="selectType(key, value)" btn-radio="{{key}}">{{value | translate}}</label>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'chooseEvent.add' | translate }}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{ 'chooseEvent.cancel' | translate }}</button>
</div>