<div class="modal-header">
    <h4 class="modal-title">Forgot Password</h4></div>
<div class="modal-body">
    <ng-form name="emailDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has - error'}[emailDialog.email.$dirty && emailDialog.email.$invalid]">                       
            <label class="control-label" for="email">Email</label>
            <input type="email" class="form-control" ng-model="email" required>                        
            <div class="alert alert-danger"  ng-show="emailDialog.email.$invalid && emailDialog.email.$dirty">                            
                <strong>Error!</strong> Invalid email
            </div>                      
            <div class="alert alert-danger"  ng-show="errorMessage">                            
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <div class="alert alert-success"  ng-show="successMessage">                            
                <strong>Success!</strong> {{successMessage}}
            </div>


        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="resetPassword(email)" ng-disabled="((emailDialog.$dirty && emailDialog.$invalid) || emailDialog.$pristine) || resettingPassword">Reset password</button>
</div>