/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.content-panel{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 100%;
}

/* Page feedback */
.message{
    width:50%;
    text-align: center;
    margin:auto;
}

.content-panel{
    margin: 10px;
}


.loading-icon{
    width: 40px;
    height: 40px;
    vertical-align: central;
}

.loading-icon-small{
    width: 20px;
    height: 20px;
}


.login-panel{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.input-square{
    width: 50px;
    margin-bottom: 20px;
}



.modal { 
    display: block;
    //position: inherit;
    //display: inline-block;
}
.reading{
    font-size: 20px;
    font-weight: bold;
}

.loginHeader {
    margin-left: 40px;
    margin-right: 40px;
}




/*Dashboard */
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#DDD;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    box-sizing: initial;

}
.dataviz {
    width: 320px;
    height: 250px;
    overflow-x: auto;
    overflow-y: auto;
}

/*
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{    
    display:table-cell;
    vertical-align:middle;
}
*/
.content .rs{    
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;        
}


/* Custom dialog/modal headers */
.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */
.pad { padding: 25px; }

.small-report{
    min-width: 350px;
    min-height: 350px;
    //margin-left: 10px;
    //margin-right: 10px;
    //display: inline-block;
}

.small-report-content{
    min-width: 340px;
    min-height: 340px;
    margin-left: 10px;
    margin-right: 10px;
}

.right-corner{
    position: absolute;
    right: 35px;
    top: 10px;
}

.empty-report{    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.flag{
    display: inline-block;
    height: 18px;
    position: relative;
    vertical-align: middle;
    width: 25.5px;
}

.phoca-flag {
    bottom: 0;
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}

.fr {
    background-image: url(../images/fr.png);
    background-size: 100% 100%;
}

.gb {
    background-image: url(../images/gb.png);
    background-size: 100% 100%;
}

.unselected-flag {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.overflow-panel-body{
    overflow: auto;
}