<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- spectrum CSS -->
        <link rel="stylesheet" href="bower_components/spectrum/spectrum.css">

    </head>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


    <body ng-app="BloGlu" ng-controller="applicationController">
        
        <nav class="navbar navbar-default" role="navigation" ng-show="currentUser">
            <div class="container-fluid">
                <div class="navbar-header">                   
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bloglu-navigation-bar">
                        <span ng-show="pending <= 0">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span ng-show="pending > 0">
                            <img class="loading-icon-small" alt="loading" src="images/spinner.gif" /> 
                        </span>
                    </button>                    
                    <a class="navbar-brand" href="#dashboard">{{ 'appName' | translate }}</a>
                </div>
                <div class="collapse navbar-collapse" id="bloglu-navigation-bar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'menu.bloodGlucose' | translate }}</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#event/bloodGlucose">{{ 'menu.bgReading' | translate }}</a></li>                            
                                <li><a href="#range">{{ 'menu.bgRange' | translate }}</a></li>
                                <li><a href="#logBook">{{ 'menu.bgNotebook' | translate }}</a></li>                                
                                <li><a href="#importList">{{ 'menu.bgImportList' | translate }}</a></li>
                                <li><a href="#import">{{ 'menu.bgImport' | translate }}</a></li>
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'menu.report' | translate }}</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#reportList">{{ 'menu.reportList' | translate }}</a></li>
                                <li><a href="#report">{{ 'menu.createReport' | translate }}</a></li>
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'menu.weight' | translate }}</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#event/weight">{{ 'menu.newWeight' | translate }}</a></li>                            
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'menu.medication' | translate }}</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#event/medication">{{ 'menu.newMedication' | translate }}</a></li>                            
                            </ul> 
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'menu.settings' | translate }}</b> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#period">{{ 'menu.settingsPeriods' | translate }}</a></li>
                                <li><a href="#category">{{ 'menu.settingsCategories' | translate }}</a></li>
                            </ul> 
                        </li>
                    </ul>
                    <!-- right part -->
                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown">                            
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><b>{{ 'welcome' | translate }} {{currentUser.username}}</b><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#userPreferences">{{ 'preferences' | translate }}</a></li>
                                <li><a href="#" ng-click="logOut(user)">{{ 'logOut' | translate }}</a></li>
                            </ul>
                        </li>
                        <li ng-show="pending > 0">                            
                            <span class="navbar-text" ng-if="loadingMessages.length > 0">{{loadingMessages[loadingMessages.length - 1]}}</span>
                            <img class="loading-icon" alt="loading" src="images/spinner.gif" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Page feedback -->
        <div ng-repeat="message in messages" ng-show="messages && messages.length > 0">
            <!-- error message alert-dismissable-->
            <div ng-if="message.type === 'error'">                
                <div class="alert alert-danger message" ng-show="message.display">
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                    <strong>{{'error'| translate}}!</strong> {{message.text| translate}}
                </div>
            </div>
            <!-- success message -->                
            <div ng-if="message.type === 'success'">                
                <div class="alert alert-success message" ng-show="message.display">
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
                    <strong>{{'success'| translate}}!</strong> {{message.text| translate}}
                </div>
            </div>                
        </div>



        <!-- Hold the views of the application  ng-show="currentUser"-->
        <!-- ng-switch on="currentUser" -->
        <div>
            <div ng-view></div>
        </div>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
                    /*
                     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                     
                     ga('create', 'UA-XXXXX-X');
                     ga('send', 'pageview');
                     */
        </script>

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>        
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>

        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <!-- highcharts -->
        <script src="bower_components/highcharts/highcharts-all.js"></script>
        <script src="bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>

        <!-- file upload -->
        <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>

        <!-- js PDF -->
        <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
        <!--<script src="bower_components/jspdf/dist/jspdf.plugin.cell.js"></script>-->

        <!-- Spectrum -->       
        <script src="bower_components/spectrum/spectrum.js"></script>
        <!-- color picker -->
        <script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>        

        <!-- angular translate -->
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

        <!-- dynamic locale -->
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        
        <!-- Better angular cookie -->
        <script src="bower_components/angular-cookie/angular-cookie.min.js"></script>       


        <!-- i18n file -->
        <script src="bower_components/angular-i18n/angular-locale_en.js"></script>
        <!--<script src="bower_components/angular-i18n/angular-locale_fr.js"></script>-->

        <!-- Twitter bootstrap -->
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        
        <!-- Touch -->
        <script src="bower_components/angular-touch/angular-touch.min.js"></script>

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- Application -->
        <script src="scripts/app.js"></script>

        <!-- Controllers -->
        <script src="scripts/controllers/applicationController.js"></script>
        <script src="scripts/controllers/categoryController.js"></script>
        <script src="scripts/controllers/controllers.js"></script>
        <script src="scripts/controllers/dashboardController.js"></script>
        <script src="scripts/controllers/eventController.js"></script>
        <script src="scripts/controllers/importController.js"></script>
        <script src="scripts/controllers/importListController.js"></script>
        <script src="scripts/controllers/logBookController.js"></script>
        <script src="scripts/controllers/loginController.js"></script>
        <script src="scripts/controllers/periodController.js"></script>
        <script src="scripts/controllers/rangeController.js"></script>
        <script src="scripts/controllers/reportController.js"></script>
        <script src="scripts/controllers/reportListController.js"></script>

        <!-- Services -->
        <script src="scripts/services/categoryService.js"></script>
        <script src="scripts/services/commonService.js"></script>
        <script src="scripts/services/dashboardService.js"></script>
        <script src="scripts/services/dataService.js"></script>
        <script src="scripts/services/eventService.js"></script>
        <script src="scripts/services/genericDaoService.js"></script>
        <script src="scripts/services/importService.js"></script>
        <script src="scripts/services/indexedDBService.js"></script>
        <script src="scripts/services/localizationService.js"></script>
        <script src="scripts/services/logBookService.js"></script>
        <script src="scripts/services/modelsService.js"></script>
        <script src="scripts/services/periodService.js"></script>
        <script src="scripts/services/printService.js"></script>
        <script src="scripts/services/queryService.js"></script>
        <script src="scripts/services/reportService.js"></script>
        <script src="scripts/services/services.js"></script>                
        <script src="scripts/services/syncService.js"></script>
        <script src="scripts/services/unitService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/services/utils.js"></script>        

        <!-- Directives -->
        <script src="scripts/directives/datavizDirective.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/directives/eventDirective.js"></script>
        <script src="scripts/directives/dashboardReport.js"></script>
        <script src="scripts/directives/eventGroupDirective.js"></script>

        <!-- endbuild -->
    </body>
</html>
