<div class="modal-header">
    <h4 class="modal-title">{{ 'inputUser.pageTitle' | translate }}</h4></div>
<div class="modal-body">
    <div ng-form="vm.nameDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has - error'}[vm.nameDialog.username.$dirty && vm.nameDialog.username.$invalid]">
            <label class="control-label" for="username">{{ 'inputUser.name' | translate }}</label>
            <input type="text" class="form-control" name="username" id="username" ng-model="vm.user.username" ng-required="true">
            <label class="control-label" for="password">{{ 'inputUser.password' | translate }}</label>
            <!-- equals="{{confirmedPassword}}" -->
            <input type="password" class="form-control" name="password" id="password" ng-model="vm.user.password" equals="{{vm.confirmedPassword}}" ng-required="true">                                 
            <label class="control-label" for="confirmPassword">{{ 'inputUser.confirmPassword' | translate }}</label>
            <!-- equals="{{vm.user.password}}" -->
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="vm.confirmedPassword" equals="{{vm.user.password}}" ng-required="true">                                 
            <label class="control-label" for="email">{{ 'inputUser.email' | translate }}</label>
            <input type="email" class="form-control" name="email" id="email" ng-model="vm.user.email" ng-required="true">

            <div class="alert alert-danger"  ng-show="vm.nameDialog.email.$invalid && vm.nameDialog.email.$dirty">                            
                <strong>{{ 'inputUser.error' | translate }}!</strong> {{ 'inputUser.invalidEmail' | translate }}
            </div>
            <div class="alert alert-danger"  ng-show="(vm.nameDialog.password.$invalid && vm.nameDialog.password.$dirty) && (vm.nameDialog.confirmPassword.$invalid && vm.nameDialog.confirmPassword.$dirty)">                            
                <strong>{{ 'inputUser.error' | translate }}!</strong> {{ 'inputUser.passwordMismatched' | translate }}
            </div>                        
            <div class="alert alert-danger"  ng-show="errorMessage">                            
                <strong>{{ 'inputUser.error' | translate }}!</strong> {{errorMessage}}
            </div>
            <div class="alert alert-success"  ng-show="successMessage">                            
                <strong>{{ 'inputUser.success' | translate }}!</strong> {{successMessage | translate}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{ 'inputUser.cancel' | translate }}</button>
    <button ng-hide="vm.creatingUser" type="button" class="btn btn-primary" ng-disabled="((vm.nameDialog.$dirty && vm.nameDialog.$invalid) || vm.nameDialog.$pristine) || vm.creatingUser" ng-click="vm.signUp(vm.user)">{{ 'inputUser.save' | translate }}</button>
    <img ng-show="vm.creatingUser" class="loading-icon" alt="loading" src="assets/images/spinner.gif" />
</div>