<div class="modal-header">
    <h4 class="modal-title">{{ 'resetPassword.pageTitle' | translate }}</h4></div>
<div class="modal-body">
    <ng-form name="emailDialog" novalidate role="form">
        <div class="form-group input-group-lg" ng-class="{true: 'has - error'}[emailDialog.email.$dirty && emailDialog.email.$invalid]">                       
            <label class="control-label" for="email">{{ "resetPassword.email" | translate }}</label>
            <input type="email" class="form-control" ng-model="email" required>                        
            <div class="alert alert-danger"  ng-show="emailDialog.email.$invalid && emailDialog.email.$dirty">                            
                <strong>{{ "resetPassword.error" | translate }}!</strong> {{ "resetPassword.invalidEmail" | translate }}
            </div>                      
            <div class="alert alert-danger"  ng-show="vm.errorMessage">                            
                <strong>{{ "resetPassword.error" | translate }}!</strong> {{vm.errorMessage}}
            </div>
            <div class="alert alert-success"  ng-show="vm.successMessage">                            
                <strong>{{ "resetPassword.success" | translate }}!</strong> {{vm.successMessage}}
            </div>


        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{ "resetPassword.cancel" | translate }}</button>
    <button type="button" class="btn btn-primary" ng-click="vm.resetPassword(email)" ng-disabled="((emailDialog.$dirty && emailDialog.$invalid) || emailDialog.$pristine) || vm.resettingPassword">{{ 'resetPassword.resetPassword' | translate }}</button>
</div>