<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'importList.pageTitle' | translate }}</h3>
    </div>

    <div class="panel-body">
        <a class="btn" href="#import">{{ 'importList.newImport' | translate }}</a>        
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <th>{{ 'importList.name' | translate }}</th>
            <th>{{ 'importList.date' | translate }}</th>
            <th>{{ 'importList.file' | translate }}</th>            
            <th></th>
            <tr ng-repeat="import in vm.imports" ng-dblclick="editImport(import)">
                <td>
                    <span>{{import.name}}</span>
                </td>
                <td>
                    <span>{{import.dateTime | date:'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <span>{{import.file}}</span>
                </td>              
                <td>
                    <button type="button" class="btn" ng-click="vm.deleteImport(import)">{{ 'importList.delete' | translate }}</button>                    
                </td>
            </tr>

        </table>
    </div>


</div>
