<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'import.pageTitle' | translate }}</h3>
    </div>
    <div class="panel-body ">
        <div ng-form="vm.importForm" novalidate role="form">
            <div class="input-group" ng-class="">                
                <label class="control-label" for="importName">{{ 'import.name' | translate }}</label>                
                <input type="text" class="form-control" name="importName" id="importName" ng-model="vm.import.name" required>
                <label class="control-label" for="importType">{{ 'import.type' | translate }}</label>
                <select id="importType" class="form-control" ng-change="vm.changeDataFormat()" data-ng-model="vm.import.dataFormat" data-ng-options="'import.'+dataFormat.name | translate for dataFormat in vm.dataFormats track by dataFormat.name"></select>
                <div class="btn-group">
                    <button ng-repeat="(key, value) in vm.supportedEvents track by $index" type="button" class="btn btn-info" ng-model="vm.resource[key]" btn-checkbox>
                        <span class="{{vm.eventsIcons[key]}}"></span>
                    </button>                        
                </div>
                <label class="control-label" for="importFile">{{ 'import.file' | translate }}</label>
                <input id="importFile" type="file" name="importFile" ng-file-select="vm.onFileSelect($files)" >                
            </div>
            <button class="btn btn-primary btn-lg active pull-right" ng-disabled="((vm.importForm.$dirty && vm.importForm.$invalid) || vm.importForm.$pristine) || vm.loadingState.pending > 0" ng-click="vm.importData()">{{ 'import.importData' | translate }}</button>                
        </div>
    </div>
</div>