<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'import.pageTitle' | translate }}</h3>
    </div>
    <div class="panel-body ">
        <div ng-form="vm.importForm" novalidate role="form">
            <div class="form-group">
                <label class="control-label" for="importName">{{ "import.name" | translate }}</label>                
                <input type="text" class="form-control" name="importName" id="importName" ng-model="vm.import.name" ng-required="true">
            </div>
            <div class="form-group">
                <label class="control-label" for="importType">{{ "import.type" | translate }}</label>
                <select id="importType" class="form-control" ng-change="vm.changeDataFormat()" data-ng-model="vm.import.dataFormat" data-ng-options="'import.'+dataFormat.name | translate for dataFormat in vm.dataFormats track by name">
                    <option value="">{{"import.selectType"| translate}}</option>
                </select>                
            </div>
            <!--
            <div class="form-group">
                <label class="control-label">{{ 'import.eventToImport' | translate }}</label>
                <div class="btn-group">
                    <button ng-repeat="(key, value) in vm.supportedEvents track by $index" type="button" class="btn btn-info" ng-model="vm.resource[key]" btn-checkbox>
                        <span class="{{vm.eventsIcons[key]}}"></span>
                    </button>
                </div>
            </div>
            -->
            <div class="form-group">
                <label class="control-label" for="importFile">{{ "import.file" | translate }}</label>
                <button type="button" ng-disabled="vm.file" class="btn btn-primary" id="importFile" ngf-select ngf-change="vm.onFileSelect($file)" ngf-validate="vm.fileOptions">
                    {{"import.chooseFile"| translate}}
                </button>                
            </div>            
            <div ng-if="vm.file">
                <div class="form-group">
                    <div class="inline">
                        <span>{{vm.file.name}}</span>
                        <button type="button" ng-disabled="vm.eventsToImport.length > 0" class="btn btn-success inline" ng-click="vm.uploadAndAnalyseFile()">
                            <span class="glyphicon glyphicon-upload" ng-disabled="vm.loadingState.pending > 0 && vm.eventsToImport.length > 0" aria-hidden="true"></span>&nbsp;{{"import.uploadFile"| translate}}
                        </button>                
                    </div>
                </div>
                <!-- upload progress bar -->
                <div class="progress">
                    <progressbar value="vm.uploadProgress">{{vm.uploadProgress}}&nbsp;%&nbsp;</progressbar>
                </div>                
            </div>

            <div ng-if="vm.eventsToImport.length > 0">
                <div class="alert alert-success" role="alert">  
                    <strong>{{"import.success" | translate}}</strong>&nbsp;{{vm.eventsToImport.length}}&nbsp;{{"import.eventsToInsert"| translate}}
                </div>
                <div ng-if="vm.duplicates.length > 0" class="alert alert-warning" role="alert">  
                    <strong>{{"import.warning" | translate}}</strong>&nbsp;{{vm.duplicates.length}}&nbsp;{{"import.duplicates"| translate}}
                </div>                
                <div class="form-group">
                    <button class="btn btn-success" ng-click="vm.insertData()">
                        <span class="glyphicon glyphicon glyphicon-share-alt" ng-disabled="vm.loadingState.pending > 0 || ((vm.importForm.$dirty && vm.importForm.$invalid) || vm.importForm.$pristine)" aria-hidden="true"></span>&nbsp;{{"import.insertData"| translate}}
                    </button>                    
                </div>
            </div>    
            
            <div ng-if="vm.eventsToImport.length === 0">
                <div class="alert alert-error" role="alert">  
                    <strong>{{"import.error" | translate}}</strong>&nbsp;{{"import.nothingToImport"| translate}}
                </div>
            </div>
            

        </div>
    </div>
</div>