<div class="panel panel-primary content-panel">

    <!-- Panel header -->
    <div class="panel-heading">

        <div class="row">            
            <div class="col-md-2 col-xs-1">
                <!-- back button -->
                <button type="button" class="btn btn-info btn-lg pull-left" ng-click="vm.back()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </div>
            <div class="col-md-2 col-xs-2">                
                <select id="interval" class="form-control input-sm" ng-model="vm.interval" ng-change="vm.change()">
                    <option value="day">{{ "logBook.day" | translate }}</option>
                    <option value="week">{{ "logBook.week" | translate }}</option>
                    <option value="month">{{ "logBook.month" | translate }}</option>
                    <option value="year">{{ "logBook.year" | translate }}</option>
                </select>
            </div>            
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button ng-repeat="(key, value) in vm.eventsTypes track by $index" type="button" class="btn btn-info" ng-model="vm.resource[key]" btn-checkbox tooltip="{{value| translate}}">
                            <span class="{{vm.eventsIcons[key]}}"></span>
                        </button>                        
                    </div>
                </div>
            </div>            
            <div class="col-md-2 col-xs-2">
                <div class="pull-right">
                    <button ng-disabled="vm.loadingState.pending > 0" ng-click="vm.printToPDF()" type="button" class="btn btn-small">
                        {{ "logBook.print" | translate }}
                    </button>
                </div>                                
            </div>
            <div class="col-md-2 col-xs-1">
                <!-- advance button -->
                <button type="button" class="btn btn-info btn-lg pull-right" ng-click="vm.advance()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>       
        <div class="row">
            <div class="text-center">
                <span class="logbook-title">{{vm.logBookTitle}} <small class="">{{vm.timeInterval.begin| date:'dd/MM/yyyy'}} - {{vm.timeInterval.end| date:'dd/MM/yyyy'}}</small></span>
            </div>
        </div>
    </div>

    <div class="panel-body overflow-panel-body">
        <!-- Event table -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="period in vm.header track by $index">{{period.name}}</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr ng-repeat="line in vm.data track by $index" ng-if="$index != 0">
                        <td ng-repeat="bloodGlucoseReadings in line track by $index">
                            <!-- Row header -->
                            <div ng-if="$index == 0">
                                <div ng-if="vm.interval == 'week'">
                                    <strong>{{bloodGlucoseReadings.date| date:'EEEE d MMM'}}</strong>
                                </div>
                                <div ng-if="vm.interval != 'week'">
                                    <strong>{{bloodGlucoseReadings.text}}</strong>
                                </div>                            
                            </div>
                            <div ng-if="($index != 0 && vm.interval === 'week') || (vm.interval === 'day')">
                                <div ng-repeat="bloodGlucoseReading in bloodGlucoseReadings| orderBy:'dateTime'">                            
                                    <div>
                                        <bloglu-event bloglu-event="bloodGlucoseReading" click-action="vm.viewEvent(code, objectId)"></bloglu-event>                                
                                    </div>
                                </div>
                                <!-- handle case of empty section -->
                                <div ng-if="bloodGlucoseReadings.length === 0">
                                    <button ng-click="vm.addEvent(line[0], vm.header[$index])" class="center-block btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </div>
                            </div>

                            <div ng-if="vm.interval !== 'week' && vm.interval !== 'day' && bloodGlucoseReadings.length > 0">
                                <div ng-if="bloodGlucoseReadings.length > 0">                                
                                    <div ng-repeat="(key, value) in bloodGlucoseReadings[0]">
                                        <bloglu-event-group bloglu-grouped-event="value" bloglu-grouped-event-zoom-in-interval="vm.zoomInInterval(date)"></bloglu-event-group>
                                    </div>
                                </div>                        
                            </div>
                        </td>                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>