<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'userPreferences.pageTitle' | translate }}</h3>
    </div>
    <div class="panel-body ">
        <tabset>
            <tab heading="{{'userPreferences.account'| translate }}">                
                <ng-form name="preferencesForm" novalidate role="form">
                    <div class="form-group input-group-lg">
                        <label class="control-label" for="username">{{ 'userPreferences.name' | translate }}</label>
                        <input type="text" class="form-control" name="username" id="username" ng-model="vm.user.username" required>
                        <label class="control-label" for="password">{{ 'userPreferences.password' | translate }}</label>
                        <input type="password" class="form-control" name="password" id="password" ng-model="vm.user.password" equals="{{confirmedPassword}}" required>                                 
                        <label class="control-label" for="confirmPassword">{{ 'userPreferences.confirmPassword' | translate }}</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="confirmedPassword" equals="{{vm.user.password}}" required>                                 
                        <label class="control-label" for="email">{{ 'userPreferences.email' | translate }}</label>
                        <input type="email" class="form-control" name="email" id="email" ng-model="vm.user.email" required>

                        <div class="alert alert-danger"  ng-show="preferencesForm.email.$invalid && preferencesForm.email.$dirty">                            
                            <strong>{{ 'userPreferences.error' | translate }}!</strong> {{ 'userPreferences.invalidEmail' | translate }}
                        </div>
                        <div class="alert alert-danger"  ng-show="(preferencesForm.password.$invalid && preferencesForm.password.$dirty) && (preferencesForm.confirmPassword.$invalid && preferencesForm.confirmPassword.$dirty)">                            
                            <strong>{{ 'userPreferences.error' | translate }}!</strong> {{ 'userPreferences.passwordMismatched' | translate }}
                        </div>                        
                        <div class="alert alert-danger"  ng-show="errorMessage">                            
                            <strong>{{ 'userPreferences.error' | translate }}!</strong> {{errorMessage}}
                        </div>
                        <div class="alert alert-success"  ng-show="successMessage">                            
                            <strong>{{ 'userPreferences.success' | translate }}!</strong> {{successMessage}}
                        </div>
                    </div>
                </ng-form>
            </tab>

            <tab heading="{{'userPreferences.application'| translate }}">                
                <ng-form name="applicationSettings" novalidate role="form">                
                    <div>                        
                        <h4>{{ 'userPreferences.defaultValues' | translate }}</h4>
                        <div class="form-group">                            
                            <label for="daySelect">{{ 'userPreferences.firstDayOfWeek' | translate }}</label>
                            <select id="daySelect" name="daySelect" class="form-control" data-ng-model="vm.user.preferences.firstDayOfWeek" data-ng-options="day.index as day.date for day in vm.days"></select>
                        </div>
                        <h4>{{ 'userPreferences.defaultUnits' | translate }}</h4>
                        <div ng-repeat="(key, value) in vm.eventsTypes track by $index">
                            <div class="form-group">
                                <label for="{{value}}">{{value| translate}}</label>
                                <select id="{{value}}" class="form-control" data-ng-model="vm.user.preferences.defaultUnits[value]" data-ng-options="unit.name for unit in units[value] track by unit.objectId"></select>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </tab>            
        
        </tabset>
        
        <button class="btn btn-primary btn-lg active pull-left" ng-disabled="pending > 0" ng-click="vm.deleteUser(vm.user)">{{ 'userPreferences.delete' | translate }}</button>        
        <button class="btn btn-primary btn-lg active pull-right" ng-disabled="pending > 0" ng-click="vm.update(vm.user)">{{ 'userPreferences.save' | translate }}</button>
    </div>
</div>

