<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'charts.pageTitle' | translate }}</h3>

        {{ 'charts.viewBy' | translate }}
        <select ng-model="interval" ng-change="change()">
            <option value="week">{{ 'charts.week' | translate }}</option>
            <option value="month">{{ 'charts.month' | translate }}</option>
            <option value="year">{{ 'charts.year' | translate }}</option>
        </select>


    </div>
    <div class="panel-body ">

        <p class="input-group">                
            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" is-open="beginDateOpened" ng-model="beginDate" ng-required="true" close-text="{{ 'charts.calendarClose' | translate }}" />               
            <span class="input-group-btn">                    
                <button class="btn btn-default" ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>

        <p class="input-group">                
            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" is-open="endDateOpened" ng-model="endDate" ng-required="true" close-text="{{ 'charts.calendarClose' | translate }}" />               
            <span class="input-group-btn">                    
                <button class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>


    </div>

    <highchart id="chart1" config="chartConfig" class="span10"></highchart>

</div>


