
<div class="panel content-panel">

    <div> 
        <div class="row" ng-repeat="line in reportTab track by $index"> 
            <div class="col-sm-6 col-lg-3 panel panel-default small-report" ng-repeat="reportConfig in reportTab[$index] track by $index">            
                <div ng-if="reportConfig.queryResult && reportConfig.queryResult.data && reportConfig.queryResult.headers">
                    <a href="" ng-click="clearReport(reportTab.indexOf(line), $index)" class="glyphicon glyphicon-remove-circle right-corner"></a>                    
                    <dataviz config="reportConfig.queryResult" column-order="reportConfig.columnOrder"></dataviz>
                </div>
                <button type="button" class="btn btn-primary empty-report" ng-if="!reportConfig.queryResult && !reportConfig.loading" ng-click="chooseReport(reportTab.indexOf(line), $index)">                    
                    {{ 'dashboard.addnewReport' | translate }}
                </button>
                <div ng-if="reportConfig.loading">
                    <img alt="loading" src="images/spinner.gif" />
                </div>
            </div>
        </div>
    </div>

</div>