
<div class="panel panel-primary content-panel">

    <div class="panel-heading">

        <button ng-show="windowMode === 'MODAL'" ng-click="$dismiss()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <div ng-switch="eventCode">
            <h3 ng-switch-when="1" class="panel-title">{{ 'event.bgTitle' | translate }}</h3>
            <h3 ng-switch-when="2" class="panel-title">{{ 'event.medicationTitle' | translate }}</h3>
            <h3 ng-switch-when="3" class="panel-title">{{ 'event.weightTitle' | translate }}</h3>
        </div>
    </div>
    <div class="panel-body ">
        <form novalidate class="simple-form">
            
            <div class="input-group">                
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" is-open="opened || $parent.opened" ng-model="date" ng-required="true" close-text="Close" />                                   
                <span class="input-group-btn">                    
                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            
            
            <div class="input-group">               
                <div ng-model="date" ng-required="true">
                    <timepicker show-meridian="false"></timepicker>
                </div>
            </div>

            <div class="input-group">                        
                <input type="number" min="0" required  class="blood-glucose-input blood-glucose-input-field pull-left input-lg" placeholder="{{placeholder}}" ng-model="event.reading" ng-disabled="!event.unit">
                <select class="blood-glucose-select blood-glucose-input-field input-lg form-inline" data-ng-model="event.unit" data-ng-options="unit.name for unit in units track by unit.objectId"></select>                
            </div>            

            <div class="form-group" ng-switch="eventCode">
                <div ng-switch-when="1" class="btn-group">
                    <button type="button" class="btn btn-primary" data-ng-model="event.preMeal" btn-checkbox>{{ 'event.bgBeforeMeal' | translate }}</button>
                    <button type="button" class="btn btn-primary" data-ng-model="event.postMeal" btn-checkbox>{{ 'event.bgAfterMeal' | translate }}</button>                
                </div>
            </div>

            <div class="form-group">
                <label for="category">{{ 'event.category' | translate }}</label>
                <select id="category" class="input-medium" data-ng-model="event.category" data-ng-options="category.name for category in categories track by category.objectId"></select>
            </div>


            <div class="form-group">
                <label for="comment">{{ 'event.comment' | translate }}</label>
                <textarea id="comment" class="form-control" ng-model="event.comment"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-lg active pull-left" ng-show="isEdit" ng-click="delete()">{{ 'event.delete' | translate }}</button>
                <button class="btn btn-primary btn-lg active pull-right" ng-click="update(event)">{{ 'event.save' | translate }}</button>
            </div>

        </form>
    </div>
</div>
