<div class="panel panel-default content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">View or modify the analysis period(s)</h3>
    </div>
    <div class="panel-body ">
        <form novalidate class="simple-form">
            <div class="input-group">


                <div class="table-responsive" ng-show="!arePeriodsOnMoreThanOneDay">
                    <table class="table table-striped">
                        <th>Name</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Duration</th>
                        <th></th>
                        <tr>
                            <td>
                                <input type="text" required class="input-sm" data-ng-model="newPeriod.name">
                            </td>
                            <td>
                                <div ng-model="newPeriod.begin" ng-required="true" style="display:inline-block;">
                                    <timepicker show-meridian="false"></timepicker>
                                </div>
                            </td>
                            <td>
                                <div ng-model="newPeriod.end" ng-required="true" style="display:inline-block;">
                                    <timepicker show-meridian="false"></timepicker>
                                </div>
                            </td>
                            <td>{{newPeriod.end - newPeriod.begin - 3600000| date:'HH:mm'}}</td>                            
                            <td>
                                <button type="button" ng-click="savePeriod(newPeriod)">Add</button>
                            </td>

                        </tr>
                    </table>
                </div>




                <div class="alert alert-danger"  ng-show="errorMessage">                            
                    <strong>Error!</strong> {{errorMessage}}
                </div>
                <div class="alert alert-success"  ng-show="successMessage">                            
                    <strong>Success!</strong> {{successMessage}}
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <th>Name</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Duration</th>
                    <th></th>
                    <tr ng-repeat="period in periods">
                        <td>
                            <div ng-show="!period.isEdit">{{period.name}}</div>
                            <input type="text" required class="input-sm" ng-show="period.isEdit" data-ng-model="period.name">
                        </td>
                        <td>
                            <div ng-show="!period.isEdit">{{period.begin| date:'HH:mm'}}</div>
                            <div ng-model="period.begin" ng-show="period.isEdit" ng-required="true" style="display:inline-block;">
                                <timepicker show-meridian="false"></timepicker>
                            </div>
                        </td>
                        <td>
                            <div ng-show="!period.isEdit">{{period.end| date:'HH:mm'}}</div>
                            <div ng-model="period.end" ng-show="period.isEdit" ng-required="true" style="display:inline-block;">
                                <timepicker show-meridian="false"></timepicker>
                            </div>
                        </td>
                        <td>{{period.end - period.begin - 3600000| date:'HH:mm'}}</td>
                        <td>
                            <button type="button" ng-click="deletePeriod(period)">Delete</button>
                            <button type="button" ng-show="!period.isEdit" ng-click="editPeriod(period)">Edit</button>
                            <button type="button" ng-show="period.isEdit" ng-click="updatePeriod(period)">Update</button>
                            <button type="button" ng-show="period.isEdit" ng-click="cancelEditPeriod(period)">Cancel</button>                            
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>