<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <dv ng-switch="eventCode">
            <h3 ng-switch-when="1" class="panel-title">Enter a blood glucose reading</h3>
            <h3 ng-switch-when="2" class="panel-title">Enter a medication</h3>
            <h3 ng-switch-when="3" class="panel-title">Enter a weight</h3>
        </dv>


    </div>
    <div class="panel-body ">
        <form novalidate class="simple-form">

            <p class="input-group">                
                <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" is-open="opened" ng-model="date" ng-required="true" close-text="Close" />               
                <span class="input-group-btn">                    
                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

            <div class="input-group">               
                <div ng-model="date" ng-required="true">
                    <timepicker show-meridian="false"></timepicker>
                </div>
            </div>

            <div class="input-group">                        
                <input type="number" min="0" required  class="blood-glucose-input blood-glucose-input-field pull-left input-lg" placeholder="{{placeholder}}" ng-model="event.reading" ng-disabled="!currentUnit">
                <select class="blood-glucose-select blood-glucose-input-field input-lg form-inline" data-ng-model="currentUnit" data-ng-options="unit.name for unit in units"></select>                        
            </div>

            <div ng-switch="eventCode">
                <div ng-switch-when="1" class="btn-group">
                    <button type="button" class="btn btn-primary" data-ng-model="event.preMeal" btn-checkbox>Before meal</button>
                    <button type="button" class="btn btn-primary" data-ng-model="event.postMeal" btn-checkbox>After meal</button>                
                </div>
            </div>

            <div class="input-group">
                <h5>Comment</h5>
                <textarea class="form-control" ng-model="event.comment">                    
                </textarea>
            </div>

            <button class="btn btn-primary btn-lg active pull-right" ng-show="isEdit" ng-click="delete()">Delete</button>
            <button class="btn btn-primary btn-lg active pull-right" ng-click="update(event)">Save</button>
        </form>
    </div>
</div>