<div class="panel panel-primary content-panel">

    <!-- Panel header -->
    <div class="panel-heading">
        <ul class="pager">
            <li class="previous">
                <a ng-click="back()" href="" >&larr; {{'logBook.previous' | translate}}</a>
            </li>            
            <li class="next">
                <a ng-click="advance()" href="">{{'logBook.next' | translate}} &rarr;</a>
            </li>
            <li>
                <div>
                    <select class="input-medium inline" ng-model="interval" ng-change="change()">
                        <option value="day">{{ 'logBook.day' | translate }}</option>
                        <option value="week">{{ 'logBook.week' | translate }}</option>
                        <option value="month">{{ 'logBook.month' | translate }}</option>
                        <option value="year">{{ 'logBook.year' | translate }}</option>
                    </select>                     
                    <span class="inline">{{ 'logBook.from' | translate }} {{timeInterval.begin| date:'dd/MM/yyyy'}} {{ 'logBook.to' | translate }} {{timeInterval.end| date:'dd/MM/yyyy'}}</span>                    
                </div>
            </li>
        </ul>
        <div class="text-center">
            <div class="btn-group">
                <button ng-repeat="(key, value) in eventsTypes track by $index" type="button" class="btn btn-info" ng-model="resource[key]" btn-checkbox>
                    <span class="{{eventsIcons[key]}}"></span>
                </button>                        
            </div>                    
            <button ng-disabled="pending > 0" ng-click="printToPDF()" type="button" class="btn">{{ 'logBook.print' | translate }}</button>
        </div>
    </div>

    <!-- Event table -->
    <div class="table-responsive">
        <table class="table">
            <th ng-repeat="period in header track by $index">
                {{period.name}}
            </th>
            <tr ng-repeat="line in data track by $index" ng-if="$index != 0">
                <td ng-repeat="bloodGlucoseReadings in line track by $index">
                    <!-- Row header -->
                    <div ng-if="$index == 0">
                        <div ng-if="interval == 'week'">
                            <strong>{{bloodGlucoseReadings.date| date:'EEEE d MMM'}}</strong>
                        </div>
                        <div ng-if="interval != 'week'">
                            <strong>{{bloodGlucoseReadings.text}}</strong>
                        </div>                            
                    </div>
                    <div ng-if="($index != 0 && interval === 'week') || (interval === 'day')">
                        <div ng-repeat="bloodGlucoseReading in bloodGlucoseReadings | orderBy:'dateTime'">                            
                            <div>
                                <bloglu-event bloglu-event="bloodGlucoseReading" click-action="viewEvent(code, objectId)"></bloglu-event>                                
                            </div>
                        </div>
                        <!-- handle case of empty section -->
                        <div ng-if="bloodGlucoseReadings.length === 0">
                            <button ng-click="addEvent(line[0], header[$index])" class="center-block btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    </div>

                    <div ng-if="interval !== 'week' && interval !== 'day' && bloodGlucoseReadings.length > 0">
                        <div ng-if="bloodGlucoseReadings.length > 0">                                
                            <div ng-repeat="(key, value) in bloodGlucoseReadings[0]">
                                <bloglu-event-group bloglu-grouped-event="value" bloglu-grouped-event-zoom-in-interval="zoomInInterval(date)"></bloglu-event-group>
                            </div>
                        </div>                        
                    </div>
                </td>                
            </tr> 
        </table>
    </div>
</div>