<div>
    <div class='pull-right' ng-show="pending > 0">                            
        <span class="navbar-text" ng-if="loadingMessages.length > 0">{{loadingMessages[loadingMessages.length - 1]}}</span>
        <img class="loading-icon" alt="loading" src="images/spinner.gif" />
    </div>
    <div class="page-header loginHeader">
        <h1>{{ 'appName' | translate }} <small>{{ 'mainScreenMessage' | translate }}</small></h1>        
    </div>
    <div class="panel-default">
        <form class="form-signin panel-body">
            <h2 class="form-signin-heading">{{'connection'| translate}}</h2>
            <input id="name" class="form-control" placeholder="{{'userName'| translate}}" required autofocus type="text" value="" name="name" ng-model="user.username" />
            <input id="email" class="form-control" placeholder="{{'password'| translate}}" required type="password" value="" name="password" ng-model="user.password" />
            <a href="#" ng-click="displaySignUpModal()">{{ 'signUp' | translate }}</a> {{ 'or' | translate }} <a href="#" class="pull-right" ng-click="displayResetPasswordModal()">{{ 'forgotPwd' | translate }} ?</a>
            <button class="btn btn-primary btn-lg btn-block" ng-disabled="pending > 0" ng-click="logIn(user)">{{ 'logIn' | translate }}</button>            
            <div class='pull-right'>
                <p>
                    {{'appStatus'| translate}} {{'appVersion'| translate}}
                </p>
            </div>
        </form>
    </div>
</div>