<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'reportList.pageTitle' | translate }}</h3>
    </div>

    <div class="panel-body">
        <a class="btn" href="#report">{{ 'reportList.newReport' | translate }}</a>        
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <th>{{ 'reportList.title' | translate }}</th>
            <th>{{ 'reportList.description' | translate }}</th>
            <th>{{ 'reportList.lastModificatonDate' | translate }}</th>
            <th>{{ 'reportList.creationDate' | translate }}</th>
            <th></th>

            <tr ng-repeat="report in reports" ng-dblclick="editReport(report)">
                <td>
                    <span>{{report.title}}</span>
                </td>
                <td>
                    <span>{{report.description}}</span>
                </td>
                <td>
                    <span>{{report.updatedAt| date:'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <span>{{report.createdAt| date:'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <button type="button" ng-click="deleteReport(report)">{{ 'reportList.delete' | translate }}</button>                    
                </td>
            </tr>

        </table>
    </div>


</div>