<div class="panel panel-primary content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'report.pageTitle' | translate }}</h3>
    </div>
    <div class="panel-body">
        <ng-form name="reportForm" novalidate role="form">
            <div class="form-group">
                <label for="reportTitle">{{'report.reportTitle'| translate }}</label>
                <input class="form-control" id="reportTitle" type="text" placeholder="{{'report.reportTitle'| translate }}" ng-model="report.title" required>
            </div>
            <div class="form-group">
                <label for="reportDescription">{{ 'report.comment' | translate }}</label>
                <textarea id="reportDescription" class="form-control" ng-model="report.description"  placeholder="{{ 'report.comment' | translate }}"></textarea>
            </div>
            
            <!-- query elements -->
            <div class="form-group">
                <label for="selectQueryElement">{{ 'report.queryElements' | translate }}</label>
                <div class="input-group">                    
                    <select id="selectQueryElement" class="form-control" data-ng-model="selectedQueryElement" data-ng-options="queryElement.title group by queryElement.group for queryElement in queryElements"></select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="addQueryElement(selectedQueryElement)">{{ 'report.addElement' | translate }}</button>
                    </span>
                </div>
            </div>
            
            
            <!-- Period to use -->
            <div class="form-group">                
                <div class="input-group">
                    <label for="period">{{ 'report.analysisPeriod' | translate }}</label>
                    <select id="period" class="form-control" data-ng-model="selectedFilter" data-ng-options="key as value.title for (key, value) in filters"></select>                    
                </div>
            </div>
        </ng-form>
        
        
        <div class="panel panel-default">
            <div class="panel-body">
                <span data-ng-repeat="selectedElement in selectedQueryElements">
                    {{selectedElement.title}}
                    <button class="btn-mini glyphicon glyphicon-remove" ng-click="removeQueryElement(selectedElement)"></button>
                </span>
            </div>
        </div>
        <!-- Filter -->
        <div class="panel panel-default">
            <div class="panel-body">                
                <span ng-if="selectedFilter">
                    {{filters[selectedFilter].title}}
                    <button class="btn-mini glyphicon glyphicon-remove" ng-click="removeFilter()"></button>
                </span>                
            </div>
        </div>
        
        <div class="form-group">                
                <div class="input-group">
                    <label for="dataviz">{{ 'report.dataviz' | translate }}</label>
                    <select id="dataviz" class="form-control" data-ng-model="report.display" data-ng-options="key as value for (key, value) in datavizTypes"></select>
                </div>
        </div>
        
        <button class="btn-large btn-primary" ng-click="executeQuery()">{{ 'report.execute' | translate }}</button>
        <button class="btn-large btn-primary" ng-click="clear()">{{ 'report.clear' | translate }}</button>
        <button class="btn btn-primary btn-lg active pull-right" ng-disabled="pending > 0" ng-show="isEdit" ng-click="delete()">{{ 'report.delete' | translate }}</button>
        <button class="btn btn-primary btn-lg active pull-right" ng-disabled="pending > 0" ng-click="update()">{{ 'report.save' | translate }}</button>
    </div>
    <div class="table-responsive">
        <dataviz config="datavizConfig" column-order="report.sort"></dataviz>
    </div>
</div>
