<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <form ng-show="scenario == 'Sign up'">
        <h2>Sign up</h2>
        Email: <input type="email" ng-model="user.email" /><br />
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        <button ng-click="signUp(user)">Sign up</button> or <a href="#" ng-click='scenario = "Log in"'>Log in</a>
    </form>
</html>
